// Primitive colors
// ------------------------------------------------------------------------- /
$dark-grey: #575757;
$grey: #f5f5f5;
$light-grey: #dfdfdf;
$red: #d50000;
$greyer: #d4d4d4;
$white: #fff;
$black: #000;
$plaintext: "Lato";
$bigtext: "Oswald";

// Contextual colors
// ---
// These are the colors that you're supposed to use.
// ------------------------------------------------------------------------- /
$border-color: $light-grey;
$border-color-secondary: $greyer;

$text-color-primary: $dark-grey;
$accent: $red;
$background-color-primary: $white;
$background-color-secondary: $grey;

$background-color-overlay: rgba($black, 0.3);

$layers: (
	"header": 2,
	"base": 1,
	"auto": 0,
	"cellar": -1
);

$font-size-base: 14px;
$font-size-small: 12px;

// Screen sizes
$screen-xs: 320px;
$screen-sm: 680px;
$screen-md: 900px;
$screen-lg: 1180px;
$screen-xl: 1240px;

$gutter-sm: 10px;
$gutter: 20px;

// grid columns
$columns: 12;

// spacing
$spacer: 2.22rem;

// z-index
$layer0: 0;
$layer1: 1;