// Barrel import for Atoms
// ------------------------------------------------------------------------- /

@use "../utils/_mixins.scss";
@use "../utils/_index.scss";

/*

logo container

*/

.a-logo {
	width: 114px;
}

.a-coordinator {
	margin-left: $spacer;
	width: 114px;
}


/*

header navigation

*/

.a-toolbar__login,
.a-toolbar__lang {
	position: relative;
	padding-right: $spacer / 1.8;
}

.a-toolbar__login {
	margin-right: 1rem;
}

// login icon
.a-toolbar__login::after,
.a-toolbar__lang::after {
	content: "";
	width: (1rem / 3) * 2.5;
	height: (1rem / 3) * 2.5;
	display: flex;
	margin: 0;
	border-radius: 100%;
	background: $white url("../img/profile.svg") no-repeat 50% 50%;
	position: absolute;
	right: 0;
	bottom: 10%;
}

// language icon
.a-toolbar__lang::after {
	background: url("../img/arrow-down.svg") no-repeat 50% 50%;
}

// nav active bar
.a-main__link.active::after {
	content: "";
	height: 3px;
	width: 100%;
	display: block;
	background: $white;
}

// search icon
.a-main__search {
	position: relative;
	bottom: 0;
	width: 25px;
}

/*

header title

*/

.a-header__title {
	@include bigtext (3.37rem, 700, "y");
	text-align: center;
}

.a-header__title,
.a-oTitle {
	margin: 0;
	position: relative;
	display: inline-block;
	text-transform: uppercase;

	&::before, &::after {
		content: "";
		width: 111.1rem;
		height: 1px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		position: absolute;
		top: 50%;
		// incompatible numbers with sass calculate
		right: calc(100% + 1.2rem);
	}

	&::after {
		right: unset;
		// incompatible numbers with sass calculate
		left: calc(100% + 1.2rem);
	}
}

.a-oTitle {
	color: $text-color-primary;
	margin-bottom: $spacer / 2;
	text-align: center;
	@include bigtext(1.5rem, 300, "y");

	&::before, &::after {
		border-bottom-color: $border-color;
	}
}

// concert showcase
.a-showcase__date, .a-card__info__date {
	@include bigtext(1.12rem, 700, "y");
	margin: 0;
}

.a-showcase__title, .a-card__info__title {
	@include bigtext(1.5rem, 700, "y");
	margin: 4px 0;
}

.a-showcase__tickets, .a-card__info__tickets {
	@include plaintext(1rem, 400);
	display: flex;
	margin-top: 10px;

	&::before {
		@include icon("../img/ticket.svg",15);
		width: 15px;
		height: 15px;
		margin-right: 7px;
	}
}

/*

cards

*/

.a-card__img {
	width: 100%;
	z-index: $layer0;
	object-fit: cover;
	transition: 0.5s;
}

.a-extra__text {
	position: relative;
	display: flex;
	@include bigtext(1.34rem, 300, "y");

	&::before {
		@include icon("../img/ab-icon.svg", 26);
		position: relative;
		margin-right: 5px;
	}
}

.a-card__info__tickets {
	position: relative;
	display: flex;

	&::before {
		@include icon("../img/ticket.svg", 15);
		top: 2px;
		margin-right: 6px;
		position: relative;
	}
}

// volume icon in card
.a-card__volume {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	right: $spacer / 3;
	top: $spacer / 3;
	background: $black;
	border-radius: 100%;
	opacity: 0.7;
	border: 2px solid $border-color;

	&::after {
		@include icon("../img/sound.svg", 15);
		position: absolute;
		top: 5px;
		left: 5px;
	}
}

.a-socialCard__text {
	color: $text-color-primary;
	@include plaintext(1rem, 400);
}

.a-socialCardButton__icon {
	height: 16px;
	margin-right: 5px;
	display: block;
}

.a-button__text {
	margin: 0;
}

/*
*
* news
*
*/
.a-newscard__tag {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1px 5px;
	background: rgba(17, 17, 17, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: $white;
	@include plaintext(0.9rem, 700);
}

.a-newscard__img {
	transition: 0.2s;
}

.a-newscard__img:hover {
	transform: scale(1.5);
}

.a-newscard__date {
	@include plaintext(1rem, 400);
	color: $text-color-primary;
}

.a-newscard__title {
	@include bigtext(1.3rem, 700, "y");
	margin: 8px 0 14px;
}

.a-tagList__tag {
	display: flex;
	padding: 2px 5px;
	margin: 0 5px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid $border-color;
	transition: 0.2s;

	&:hover {
		background: transparent;
	}
}

// read more button
.a-newscard__more {
	color: $accent;
	@include plaintext(1rem, 700);
	display: flex;

	&::after {
		@include icon("../img/arrow-btn-accent.svg", 12);
		position: relative;
		top: 4px;
		left: 8px;
	}
}

.a-list__card__title,
.a-list__card__text,
.a-list__card__cta {
	margin: 5px auto;
	width: 100%;
}

.a-list__card__title {
	@include bigtext(1.5rem, 700, "y");
}

.a-list__card__text {
	@include plaintext(1rem, 400);
	color: $text-color-primary;
}

.a-list__card__cta {
	color: $accent;
	margin-top: $spacer / 1.5;
	display: flex;
	justify-content: center;
	@include plaintext(1.13rem, 700);

	&::after {
		@include icon("../img/arrow-btn-accent.svg", 15);
		position: relative;
		left: 6px;
		top: 3px;
	}
}

.a-list__card__icon {
	width: 35px;
	margin: 10px auto;
}

/*
*
* footer
*
*/

.a-footer__nav__item, .a-footer__subnav__item {
	@include bigtext(1.3rem, 700, "y");
	padding: 8px 0;
}

.a-footer__subnav__item {
	font-weight: 300;
}

.a-footer__nav__item:not(:last-of-type),
.a-footer__subnav__item:not(:last-of-type) {
	border-bottom: 1px dotted $border-color;
	width: 100%;
	display: block;
}

.a-newsLetter__title {
	margin: 0;
	@include bigtext(1.3rem, 700, "y");
}

.a-newsLetter__text {
	margin: 8px 0 12px;
	@include plaintext(1rem, 400);
}

.a-form__input {
	@include border-box;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	padding: 0 10px;
	border: 1px solid $border-color-secondary;
	border-right: none;
}

.a-form__button {
	all: unset;
	border: 1px solid $border-color-secondary;
	width: 45px;
	@include border-box;
	padding: 12px 15px;
	display: flex;
	justify-content: center;
	align-content: center;

	&:focus {
		outline: auto;
	}

	img {
		width: 10px;
	}
}

.a-social__icon {
	background: $black;
	margin: 1%;
	padding: 10px;
	border-radius: 100%;

	a {
		display: flex;
	}

	img {
		width: 20px;
	}
}

// adblock blocks rendering of .sponsor
.a-spons {
	width: 90px;
	flex-wrap: wrap;
	margin: 10px;

	img {
		display: block;
		width: 100%;
	}
}


// copyright
.a-copyright {
	text-align: center;
	margin-bottom: $spacer/2;
	@include plaintext(0.85rem, 400);
	color: $text-color-primary;
}
