@use "../abstracts/variables" as vars;

a {
	color: inherit;
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
    background-color: vars.$background-color-primary;
}
